[build]
builder = "railpack"

phpExtensions = [
  "bcmath",
  "ctype",
  "curl",
  "dom",
  "fileinfo",
  "filter",
  "hash",
  "mbstring",
  "openssl",
  "pcre",
  "pdo",
  "session",
  "tokenizer",
  "xml",
  "pdo_pgsql",
  "redis"
]

buildCommand = """
corepack enable
corepack prepare pnpm@9.12.3 --activate
composer install --no-dev --optimize-autoloader --ignore-platform-req=ext-bcmath
pnpm install --frozen-lockfile
pnpm run build
"""

[deploy]
startCommand = """
php artisan config:clear &&
php artisan migrate --force &&
php artisan storage:link &&
php artisan config:cache &&
php artisan route:cache &&
php artisan view:cache &&
php artisan serve --host=0.0.0.0 --port=$PORT
"""
